@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,400italic,500italic,700,700italic,900,900italic&subset=latin,latin-ext);

body {
	background: #444;
	padding: 0;
	margin: 0;
	padding-bottom: 20px;
	font-family: Roboto;
	font-size: 1.6em;
}

a {
	color: #fff;
}

.navbar {
	min-height: 100px;
	padding: 0 20px;
	background: #158CBA;
}

.navbar-inverse .navbar-nav > li > a {
	color: #158CBA;
	color: #fff;
}

.navbar img {
	height: 100px;
	width: auto;
	padding: 20px 20px;
}

.navbar-brand {
}

.navbar-collapse {
	margin-top: 0px;
}

.navbar ul {
	margin-top: 25px;
}

.row {
	margin: 0px;
}

.list-group {
}

.list-group li {
	background: #444;
	border: none;
}

.list-group a:hover {
	text-decoration: none;
	color: #aaa;
}

.list-group li  {
	color: #fff;
}

.content {
	background: white;
	border-radius: 5px;
	padding: 30px;
}

h1, h2, h3, h4, h5, h6 {
	color: #555;
}

@media(max-width:899px) {

	#sidebar {
		text-align: center;
	}

}

@media(min-width:900px) {

	#sidebar {
		text-align: right;
	}

}

.navbar {
	border: none;
	border-bottom: 4px solid #127BA3;
}

.content p a {
	color: #158CBA;
}

.btn { font-size: 14px; }

.content {
	min-height: 400px;
}

.content h3 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
}

.list-group {
	list-style-type: none;
	color: white;
}

.list-group-item {
	background: none;
	border: none;
}

.list-group a {
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
}

.list-group .active a 	{
	background: #eee;
	border-radius: 5px;
	color: #666 !important;
}

#tinymce {
	font-size: 25px;
}

.mce-panel { background: #eee !important; }

.mce-wordcount { display: none !important; }

div.mce-fullscreen {
	z-index: 100000 !important;
}